:host, .pagesContainer {
	display: block;
	height: 100%;
	width: 100%;
}

:host{
	overflow: hidden;
}

.pagesContainer{
	overflow-x : hidden;
	overflow-y: hidden;
}

content[select="swipe-page"]::content *{
	position: relative;
}
